<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.keith.modules.dao.user.UserBanlanceDao">

    <!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.keith.modules.entity.user.UserBanlance" id="userBanlanceMap">
        <result property="id" column="id"/>
        <result property="userMemberId" column="user_member_id"/>
        <result property="phone" column="phone"/>
        <result property="banlance" column="banlance"/>
    </resultMap>


</mapper>